body {
	background-color: rgb(58, 58, 58);
}

/* Center the calculator */
.ui.segments {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}

/* Button styling */
button {
	border: none;
	outline: none;
	color: white;
	background-color: #272829;
}

/* Ensure calculator does not get too wide */
#calculator {
	max-width: 375px;
}

#keypad {
	background-color: #272829;
}

/* Display Component */
#calcDisplay {
	color: white;
	background-color: #595a5a;
	height: 67px;
}

/* Bold and Colored Operator Buttons */
#divide,
#multiply,
#subtract,
#add,
#equals {
	font-weight: 800;
	color: #76d3e4;
}
